/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==========Reset==========*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/*==========Root==========*/
:root {
    --bg1-card: linear-gradient(90deg, hsl(355, 37%, 88%) 0%, hsl(25, 76%, 90%) 100%);
    --bg2-card: linear-gradient(90deg, hsl(157, 72%, 66%) 0%, hsl(154, 100%, 81%) 100%);
    --transition: transform 1s cubic-bezier(0.175, 0.885, .032, 1.275);
    --shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-block-start: .5rem;
    background: var(--bg1-card);
}
h1 {
    color: hsl(0, 0%, 0%);
    font-weight: 500;
    font-size: 2rem;
    text-transform: capitalize;
    margin-block-start: 3rem;
    margin-block-end: 3rem;
}
section {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 6rem);
    grid-template-rows: repeat(8, 6rem);
    grid-gap: 1.4rem;
    perspective: 1200px;
}
.card {
    position: relative;
    transform-style: preserve-3d;
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
}
.face, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    pointer-events: none;
}
.face {
    background: var(--bg2-card);
    padding: 1rem;
    filter: contrast(1.4);
    transform: rotateY(-180deg);
}
.back {
    background: var(--bg1-card);
    box-shadow: var(--shadow);
    backface-visibility: hidden;
}
.active {
    transform: rotateY(180deg);
}


/*==========Media Query big screens==========*/
@media (min-width: 1600px) {
    h1 {
        font-size: 4rem;
        margin-block-start: 4rem;
        margin-block-end: 4rem;
    }
    section {
        grid-template-columns: repeat(8, 7rem);
        grid-template-rows: repeat(8, 7rem);
        grid-gap: 4rem;
    }
    .face, .back {
        width: 130%;
        height: 130%;
    }

}


/*==========Media Query small screens==========*/
@media (max-width: 1024px) {
    h1 {
        font-size: 1.7rem;
        margin-block-start: 5rem;
        margin-block-end: 4rem;
    }
    section {
        grid-template-columns: repeat(8, 4rem);
        grid-template-rows: repeat(8, 4rem);
        grid-gap: 1.2rem;
    }

}


/*==========Media Query small screens mobile==========*/
@media (max-width: 768px) {
    h1 {
        margin-block-start: 2rem;
        margin-block-end: 2rem;
    }
    section {
        grid-template-columns: repeat(4, 5rem);
        grid-template-rows: repeat(4, 5rem);
        grid-gap: .5rem;
        margin-block-end: 2rem;
    }

}